.MovieCard-Box {
	background-color: lightsteelblue;
}

.MovieCard-Card {
	max-width: 300px;
  }
  
.MovieCard-Tile {
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
}

.MovieCard-Rating {
	color: red;
}